@import "tailwindcss";

.step{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 12px;
}

.step_instruction h2 {
    font-size: 16px;
    margin-top: 32px;
    font-weight: bold;
}

.step_instruction p{
    margin: 16px 0;
}

.step_instruction code {
    background-color: #eee;
    border-radius: 8px;
    padding: 4px 6px;
    font-weight: 600;
    font-size: 15px;
}

.step_instruction pre code {
    display: inline-block;
}

.step_instruction table {
    background-color: #eee;
    border-radius: 8px;
}

.step_instruction table.inline-block {
    margin-right: 16px;
}

.step_instruction caption {
    caption-side: top;
    text-align: left;
    padding-bottom: 8px;
    background-color: white;
    font-size: 80%;
}

.step_instruction td {
    text-align: left;
    padding: 4px 8px;
}

.step_instruction th {
    text-align: left;
    padding: 8px 8px;
}

.step_instruction thead {
    border-bottom: 1px solid #aaa;
}

.step_instruction a {
    color: #009966;
}

/* Таблицы результата */

.exercise_ai p, .exercise_ai li, .exercise_ai pre {
    font-size: 14px;
    margin: 16px 0;
}

details.tables-structure figure  {
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
    font-size: 14px;
}